<div class="formatDataTable offset-lg-3 col-lg-6 borderForm">
    <form id="form" method="POST" enctype="multipart/form-data">
        <div class="tittleDataTable">Form thêm hãng sản xuất</div>
        <div class="form-group">
            <label for="tenHangSanXuat">Tên hãng sản xuất</label>
            <input type="text" class="form-control" id="tenHangSanXuat" >
        </div>
        <div class="form-group">
            <label for="hinhAnh">Hình ảnh</label>
            <input type="file" class="form-control" name="hinhAnh" id="hinhAnh">
        </div>
        <button type="submit" class="btn btn-primary mt-4 mb-4">Thêm</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        var form = document.getElementById('form')
        //active
        var items = document.querySelectorAll('.items')
        items[1].classList.add('active')
        //end active
        form.addEventListener('submit', function(e){
            e.preventDefault()
            var tenHangSanXuat = document.getElementById('tenHangSanXuat').value
            var hinhAnh = document.getElementById('hinhAnh').files
            console.log(tenHangSanXuat)
            console.log(hinhAnh[0])
            let formData = new FormData()
            formData.append('tenHangSanXuat', tenHangSanXuat)
            formData.append('hinhAnh', hinhAnh[0])
            
            axios.post('/admin/hangsx/themHSX', 
                formData
            ,{
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'multipart/form-data'
                }
            })
            .then((res) => {
                console.log('thành công')
                if(res.data.message == 'them hsx thanh cong'){
                    alert('Thêm hãng sản xuất thành công!')
                    location.assign('/admin/hangsx/dshsx')
                }
            })
            .catch((err) => {
                console.log('lỗi:',err)
            })
            
        })
    })
</script>