<div class="register offset-xl-4 col-xl-4">  
    <h2>Đăng ký</h2>
    <form id="form" method="post">
        <div id="fail"  style="color: red"></div>
        <div class="form-group">
            <label for="passwordInput">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneInput"
            placeholder="Nhập số điện thoại">
        </div>
        <div class="form-group">
            <label for="passwordInput">Mật khẩu</label>
            <input type="password" class="form-control" id="passwordInput"
            placeholder="mật khẩu">
        </div>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput"
             placeholder="Nhập email">
        </div>
        
        <div class="form-group">
            <label for="nameInput">Họ tên</label>
            <input type="text" class="form-control" id="nameInput"
             placeholder="Nhập họ tên">
        </div>
        <div class="form-group">        
            <input type="radio" class="sexInput" value="Nam" name="sexInput" checked>
            <label>Nam</label>
            <input type="radio" class="sexInput" value="Nữ" name="sexInput">
            <label>Nữ</label>
        </div>
        <div>
            <span>Bạn đã có tài khoản?/ 
                <a href="">Đăng nhập</a>
            </span>
        </div> 
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded",function(){
        var form = document.getElementById('form')
        form.addEventListener('submit', function(e){
            e.preventDefault()
            var emailInput = document.getElementById('emailInput').value
            var phoneInput = document.getElementById('phoneInput').value
            var passwordInput = document.getElementById('passwordInput').value
            var sexInput = document.querySelector('input[name="sexInput"]:checked').value;
            var nameInput = document.getElementById('nameInput').value
            var fail = document.getElementById('fail')
            var flag = 1

            function check_phone(phone){
                var regex = /[0-9]{10}/
                if(regex.test(phone) == true){
                    return true
                }
                else{
                    return false
                }
            }

            function check_password(password){
                var regex = /^[0-9]{6}$/
                if(regex.test(password) == true){
                    return true
                }
                else{
                    return false
                }
            }

            if(phoneInput.length != 10){
                fail.innerHTML = 'Nhập sdt hợp lệ 10 số'
                flag = 0
            }
            else if(phoneInput.length == 10){   
                if(check_phone(phoneInput) == false){
                    fail.innerHTML = 'Vui lòng nhập sdt gồm 10 chữ số. Vd(0123456789)'
                    flag = 0
                }
                else{
                    fail.innerHTML = ''
                }
            }
            
            if(passwordInput.length != 6){
                fail.innerHTML = 'Vui lòng nhập mật khẩu gồm 6 số!'
                flag = 0
            }
            else if(passwordInput.length == 6){
                console.log(check_password(passwordInput))
                if(check_password(passwordInput) == false){
                    fail.innerHTML = 'Vui lòng nhập mật khẩu gồm 6 số!(vd: 123456)'
                    flag = 0
                }
                else{
                    fail.innerHTML = ''
                }
            }

            console.log(flag)
            if(flag == 1){
                axios.post('/register', {
                    emailInput: emailInput,
                    phoneInput: phoneInput,
                    passwordInput: passwordInput,
                    sexInput: sexInput,
                    nameInput: nameInput,
                    })
                    .then((res) => {
                        console.log(res.data)
                        if(res.data.message == 'dang ky thanh cong'){
                            console.log('dang ki thanh cong')
                            alert('Đăng ký tài khoản thành công!')
                            location.assign('/login')
                        }
                        else if(res.data.error == 'tai khoan da co nguoi su dung'){
                            console.log('tai khoan da co nguoi su dung')
                            fail.innerHTML = 'Tài khoản đã có người sử dụng.'
                        }
                    })
                    .catch((err) => {console.log('that bai',err)})
            }   
        })
    })
</script>