<!-- Footer -->
<div class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class=" offset-md-1 col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">TB STAMP</h5>
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-md-3 mb-3">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Liên hệ:</h5>
        <p><span style="font-weight: bold;">Địa chỉ: </span> 170 Phùng Hưng, phường 14, quận 5, TP.HCM</p>
        <p><span style="font-weight: bold;">Điện thoại: </span>0903966591</p>
      </div>
      {{!-- phần 3 --}}
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Thông tin khác</h5>
        <div class="row">
          <p class="col-lg-6">Điều khoản</p>
          <p class="col-lg-6">Chính sách đổi trả</p>
        </div>
        <div class="row">
          <p class="col-lg-6">Giới thiệu</p>
          <p class="col-lg-6">Chính sách bảo mật</p>
        </div>
      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/"> TBStamp.com</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer -->