<div class="processOrder offset-lg-3 col-lg-6">
    <ul class="menu">
        <li class="items">
            <span class="tittle">1</span>
            <p class="content">Địa chỉ giao hàng</p>
        </li>
        
        <li class="items">
            <span class="tittle">2</span>
            <p class="content">Phương thức thanh toán</p>
        </li>
        
        <li class="items">
            <span class="tittle">3</span>
            <p class="content">Kiểm tra đơn hàng</p>
        </li>

        <li class="items">
            <span class="tittle">4</span>
            <p class="content">Hoàn tất đơn hàng</p>
        </li>
    </ul>
</div>