
<div class="col-xl-2 sidebar">
    <ul>
        <a href="/admin/sanpham/dssp">
            <li>Quản lý sản phẩm</li>
        </a>
        <a href="/admin/hangsx/dshsx">
            <li>Quản lý hãng sản xuất</li>
        </a>
        <a href="#">
            <li>Quản lý hóa đơn</li>
        </a>
        <a href="/admin/nhanvien/dsnv">
            <li>Quản lý nhân viên</li>
        </a>
        <a href="/admin/khachhang/dskh">
             <li>Quản lý khách hàng</li>
        </a>   
    </ul>
</div>