
    <div class="row">
        
            {{#each dssp}}
            <div class="col-lg-4">
                <div class="">
                    <a href="">
                        <img class="" src="/img/{{this.hinhAnh}}" alt="Card image cap">
                    </a>
                    <div class="">
                        <h5 class="tensp">{{this.tenSanPham}}</h5>
                        <p class="gia">{{this.gia}} VND</p>
                        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
                    </div>
                </div>
                </div>
            {{/each}}
        
    </div>
    